body {
  margin: 0;
  font-family: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  background-color: #202021;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
